langchain==0.3.25
langchain-core>=0.3.58,<1.0.0
langchain-community==0.3.24
langchain-groq==0.3.2
langchain-text-splitters==1.1.2
streamlit
openai
faiss-cpu
python-dotenv
pypdf
pdfplumber
tiktoken
sentence-transformers
